@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/image/data.ico" type="image/x-ico" />
    @{
        if (CultureInfo.GetCulture() == "zh-CN")
        {
            <title>文件管理系统</title>
            @Scripts.Render("~/scripts/culture_zh-CN")
        }
        else
        {
            <title>File Management</title>
            @Scripts.Render("~/scripts/culture_en-US")
        }
    }
    <script src="~/scripts/react.min.js"></script>
    <script src="~/scripts/react-dom.min.js"></script>

    @Styles.Render("~/css/login")

</head>
<body>
    <div id="login"></div>
</body>
</html>
@Scripts.Render("~/scripts/login")