
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <style>
        .ddl_input_con {
            border: 1px solid #ccc;
            cursor:text;
            width: 400px;
        }

        .ddl_item {
            display: inline-block;
            margin: 2px 2px;
            background-color: #FDF4E5;
            padding: 2px 5px;
            border-radius: 3px;
        }

            
            .ddl_item .icon-del {
                display: inline-block;
                vertical-align: top;
            }

            .ddl_input {
                outline: none;
                border:0;
                display: inline-block;
                padding: 2px 5px;
                width: 50px;
            }
    </style>
    @Styles.Render("~/css/index")
    @Scripts.Render("~/scripts/index-common-js")
</head>
<body>
    <br />
    <div class="ddl_input_con">
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">aaaa</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <input type="text" name="group" class="ddl_input" />
    </div>
    <br />
    <br />
    
    <div id="index"></div>


</body>
</html>
<script src="~/scripts/funs.jsx"></script>
<script src="~/scripts/common.jsx"></script>
<script>
    $(".ddl_input_con").click(function () {
        $(".ddl_input").focus();
    });
</script>
