
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @Styles.Render("~/css/index")
    @Scripts.Render("~/scripts/index-common-js")
</head>
<body>
    <div id="index"></div>
</body>
</html>
<script src="~/scripts/funs.jsx"></script>
<script src="~/scripts/common.jsx"></script>

