
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <style>
        .ddl_input_con {
            border: 1px solid #ccc;
            display:flex;
            width:400px;
        }
        .ddl_item{
            display:inline-flex;
            margin-left:10px;
            
            /*vertical-align:top;*/
            /*float:left;*/
        }
        .ddl_input {
            /*flex:1;*/
            /*float: left;*/
            border: 0;
            outline: none;
            display: inline-block;
            width: 100%;
            border: 1px dashed red;
            /*border:1px solid red;*/
        }
    </style>
    @Styles.Render("~/css/index")
    @Scripts.Render("~/scripts/index-common-js")
</head>
<body>
    <br />
    <div class="ddl_input_con">
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">aaaa</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>
        <div class="ddl_item">
            <span class="ddl_text">sssss</span>
            <i class="iconfont icon-del"></i>
        </div>

        @*<input type="text" name="group" class="ddl_input" />*@
    </div>
    <br />
    <br />
    <div style="border:1px solid red;width:300px;">
        <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div>
        <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div>
        <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div>
        <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div> <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div>
        <div style="width:50px;height:30px;border:1px solid blue;display:inline-block;display:inline-flex;">sss</div>
    </div>
    <div id="index"></div>


</body>
</html>
<script src="~/scripts/funs.jsx"></script>
<script src="~/scripts/common.jsx"></script>

