@{
    ViewBag.Title = "Home Page";
}
<div class="bui-page">
    <!-- 固定顶部区 -->
    <header class="bui-bar">
        <div class="bui-bar-left">
            <a class="bui-btn"><i class="icon-back"></i></a>
        </div>
        <div class="bui-bar-main">BUI标准页面</div>
        <div class="bui-bar-right"></div>
    </header>
    <main>
        <div id="uiSlide" class="bui-slide">
            <div class="bui-slide-main">
                <ul>
                    <li>
                        <!--第1屏-->
                        <img src="" alt="">
                        <div class="bui-slide-title">图片标题</div>
                    </li>
                    <li>
                        <!--第2屏-->
                        <img src="" alt="">
                        <div class="bui-slide-title">图片标题</div>
                    </li>
                </ul>
            </div>
            <!-- 分屏菜单 -->
            <div class="bui-slide-head">
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <!-- 固定底部区 -->
    </footer>
</div>