.orgChart {
    width: 100%;
}

    .orgChart .pc {
        width: 100%;
    }

        .orgChart .pc td {
            text-align: center;
            vertical-align: top;
            /*border:1px solid red;*/
        }

        .orgChart .pc .otop {
            border-top: 1px solid #ccc;
        }

        .orgChart .pc .oleft {
            border-left: 1px solid #ccc;
        }

        .orgChart .pc .oright {
            border-right: 1px solid #ccc;
        }

        .orgChart .pc .trans_right {
            border-right: 1px solid rgba(0,0,0,0);
        }

        .orgChart .pc .trans_left {
            border-left: 1px solid rgba(0,0,0,0);
        }

        .orgChart .pc .org_line {
            height: 22px;
        }

        .orgChart .pc .line_down {
            display: inline-block;
            height: 22px;
            width: 1px;
            background-color: #ccc;
        }

        .orgChart .pc .node {
            margin: 0 4px;
        }

    .orgChart .node {
        display: inline-block;
        height: 60px;
        min-width: 60px;
        border: 1px solid #666;
        text-align: center;
    }
