.orgChart {
    margin-top: 15px;
    width: 100%;
}

    .orgChart .pc {
        width: 100%;
    }

        .orgChart .pc td {
            text-align: center;
            vertical-align: top;
            /*border:1px solid red;*/
        }

        .orgChart .pc .otop {
            border-top: 1px solid #ccc;
        }

        .orgChart .pc .oleft {
            border-left: 1px solid #ccc;
        }

        .orgChart .pc .oright {
            border-right: 1px solid #ccc;
        }

        .orgChart .pc .trans_right {
            border-right: 1px solid rgba(0,0,0,0);
        }

        .orgChart .pc .trans_left {
            border-left: 1px solid rgba(0,0,0,0);
        }

        .orgChart .pc .org_line {
            height: 22px;
        }

        .orgChart .pc .line_down {
            display: inline-block;
            height: 22px;
            width: 1px;
            background-color: #ccc;
        }

        .orgChart .pc .node {
            margin: 0 4px;
        }

    .orgChart .node {
        display: inline-block;
        position: relative;
        height: 60px;
        width: 80px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 9px;
        vertical-align: bottom;
    }

/*****************************************/
/*****************************************/
.department_container {
    width: 70%;
    margin-top: 15px;
    /*border: 1px solid red;*/
}

.sortable, .sortable ol {
    list-style-type: none;
    margin-left: 30px;
    /*border:1px solid red;*/
}

.sortable_node {
    display: inline-block;
    height: 30px;
    line-height: 29px;
    width: 99%;
    border: 1px solid #ddd;
    margin-top: 3px;
}

.sortable_select {
    background-color: #e7e7e8;
    border: 1px solid #d9d9d9;
}

.sortable_node:hover {
    background-color: #e7e7e8;
    cursor: pointer;
}

.sortable_node .sortable_node_title {
    display: inline-block;
}

.sortable_node .icon-menu {
    display: inline-block;
    width: 25px;
    text-align: center;
    cursor: move;
}

    .sortable_node .icon-menu:hover {
        color: #000;
    }

.sortable_node .icon-dot,
.sortable_node .icon-right1,
.sortable_node .icon-down1,
.sortable_node .icon-remove,
.sortable_node .icon-add1,
.sortable_node .icon-edit {
    display: inline-block;
    float: right;
    width: 30px;
    text-align: center;
    color: #8D8784;
}

    .sortable_node .icon-dot:hover {
        color: #8D8784;
        cursor: default;
    }

    .sortable_node .icon-right1:hover,
    .sortable_node .icon-down1:hover,
    .sortable_node .icon-remove:hover,
    .sortable_node .icon-edit:hover,
    .sortable_node .icon-add1:hover {
        cursor: pointer;
        color: #f60;
    }
