.title_inner {
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    padding-left: 7px;
    color: #000;
    border-bottom: 1px solid #e4e4e4;
}

.title_arrow {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 12px;
    font-weight: bold;
    color: #484848;
    background-color: #F8F8F8;
}

    .title_arrow .title_txt {
        display: inline-block;
        cursor: pointer;
    }

        .title_arrow .title_txt:hover {
            color: #000;
        }

    .title_arrow .right_tips {
        display: inline-block;
        float: right;
        font-weight: normal;
        background-color: #eee;
        padding: 0 5px;
    }

        .title_arrow .right_tips:hover {
            cursor: pointer;
            background-color: #ddd;
        }

        .title_arrow .right_tips[disabled] {
            background-color: #fff;
            cursor: default;
        }

    .title_arrow .filter_item {
        display: inline-block;
        padding: 0px 8px;
        margin-left: 5px;
        font-weight:normal;
    }

        .title_arrow .filter_item:hover {
            background-color: #ddd;
            cursor:pointer;
        }

    .title_arrow .current {
        background-color: #DCDCFF;
    }

        .title_arrow .current:hover {
            background-color: #DCDCFF;
            cursor: default;
        }

    .title_arrow .right_component {
        display: inline-block;
        float: right;
        padding: 0 5px;
        position: relative;
    }

        .title_arrow .right_component i {
            margin-left: 20px;
        }

    .title_arrow .icon-order:hover {
        color: #484848;
    }

    .title_arrow .order_list {
        display: none;
        position: absolute;
        border: 1px solid #e4e4e4;
        background-color: #fff;
        margin-top: 20px;
        font-weight: normal;
        overflow: hidden;
        width: 100px;
        right: 0;
    }

        .title_arrow .order_list span {
            display: block;
            border-bottom: 1px solid #e4e4e4;
            height: 25px;
            line-height: 25px;
            margin-left: 5px;
            margin-right: 10px;
            cursor: pointer;
        }

            .title_arrow .order_list span:hover {
                color: #f60;
            }

    .title_arrow .right_month {
        display: inline-block;
        float: right;
        font-weight: normal;
    }

        .title_arrow .right_month span {
            display: inline-block;
            background-color: #eee;
            margin-left: 8px;
            padding: 0 3px;
        }

            .title_arrow .right_month span:hover {
                cursor: pointer;
                background-color: #ddd;
            }

        .title_arrow .right_month .current {
            background-color: #DCDCFF;
        }

            .title_arrow .right_month .current:hover {
                background-color: #DCDCFF;
                cursor: default;
            }

    .title_arrow .right_tips_grid {
        display: inline-block;
        float: right;
        font-weight: normal;
    }

        .title_arrow .right_tips_grid span {
            display: inline-block;
            background-color: #eee;
            margin-left: 8px;
            padding: 0 3px;
            cursor: default;
        }

.overview_con {
    margin-top: 5px;
    /*border: 1px solid #ccc;*/
}

.server_con {
}

    .server_con .web_server_con {
        width: 60%;
        margin-top: 5px;
        height: 150px;
        border: 1px solid #ccc;
    }

.echart_main_con {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 240px;
}

    .echart_main_con .echart_app_resourcetask, .echart_main_con .echart_app_alldownload {
        flex: 1;
        margin-left: 5px;
    }

    .echart_main_con .echart_app_resource, .echart_main_con .echart_app_task, .echart_main_con .echart_app_download {
        flex: 1;
        margin-left: 5px;
    }

.echart_split {
    display: inline-block;
    margin-left: 15px;
    height: 100%;
    width: 1px;
    border-left: 1px solid #e4e4e4;
}

.pagenation {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 12px;
}

    .pagenation .page {
        display: inline-block;
    }

    .pagenation .pageIndex {
        width: 40px;
        outline: none;
    }

    .pagenation .size {
        text-align: right;
        float: right;
    }

    .pagenation .pageSize, .pagenation .filter {
        margin-left: 5px;
    }

    .pagenation .size input {
        width: 60px;
    }

.show {
    display: block;
}

.hidden {
    display: none;
}

.table_modify {
    width: 55%;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
    margin-right: 20px;
    border-collapse: collapse;
}

    .table_modify td {
        border: 1px solid #e4e4e4;
        padding: 4px;
    }

.convert_flag {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}

    .convert_flag .flag_txt {
        display: inline-block;
        padding: 3px 5px;
        background-color: #eb8c00;
        border-color: #f60;
        color: #fff;
    }

    .convert_flag .flag_del {
        margin-left: -1px;
        /*color: #888;*/
        cursor: pointer;
    }

.flag_del:hover {
    color: #000;
}

.flag_table {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}

    .flag_table .flag_txt {
        display: inline-block;
        padding: 2px 5px;
        background-color: #b6af99;
        color: #fff;
    }

    .flag_table .error {
        background-color: #e6594b;
    }

.table_user {
    width: 70%;
}

    .table_user .tag_txt {
        display: inline-block;
        margin: 3px;
        cursor: pointer;
    }

        .table_user .tag_txt:hover {
            color: #888;
        }

.role_help {
    margin-left: 6px;
}

    .role_help:hover {
        cursor: pointer;
        color: #f60;
    }

.role_tip {
    position: absolute;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 4px;
    width: 40%;
    left: 30%;
    margin-top: -150px;
    height: 250px;
    min-width: 500px;
    padding: 5px;
}

.role_tip_title {
    text-align: right;
    font-size: 18px;
}

.role_tip_txt {
    padding: 5px;
    margin-top: 10px;
}

    .role_tip_txt span {
        display: block;
        margin-top: 3px;
    }

.role_tip_txt_title {
    font-weight: bold;
}

.role_tip_txt_text {
    padding-left: 10px;
}

.sub_button {
    padding: 4px 12px;
    border: 0;
    border-radius: 2px;
    background: #95938D;
}

    .sub_button:hover {
        background: #64635E;
        cursor: pointer;
    }

    .sub_button:disabled {
        background: #E8E7E4;
        cursor: default;
    }

.config_toolbar {
    position: relative;
    width: 200px;
    height: 30px;
    margin-top: -23px;
    right: 0;
    float: right;
}

    .config_toolbar .config_info {
        float: right;
        padding: 0 8px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        display: inline-block;
        margin-left: 5px;
        color: #fff;
        border-radius: 3px;
        color: #444;
        cursor: pointer;
        font-weight: bold;
    }

        .config_toolbar .config_info:hover {
            color: #000;
        }

    .config_toolbar .select {
        background-color: #f60;
        color: #fff;
    }

        .config_toolbar .select:hover {
            color: #fff;
        }

.update_access_con {
    /*border: 1px solid red;*/
    width: 75%;
    margin-top: 10px;
    /*padding: 10px;*/
}

    .update_access_con .update_access_item {
        display: flex;
        align-items: center;
        height: 30px;
        border: 1px solid #e4e4e4;
    }

    .update_access_con table {
        margin-top: 5px;
        /*margin-left: 5px;*/
        border: 1px solid #e4e4e4;
        width: 100%;
    }

    .update_access_con td {
        text-align: left;
    }
